﻿
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                    </li>
                    <li class="menu-title">ნავიგაცია</li><!-- /.menu-title -->
                    <li>
                        <a href="/Users"> <i class="menu-icon ti-user"></i>მომხმარებლები </a>
                    </li>
                    <li>
                        <a href="/News"> <i class="menu-icon ti-receipt"></i>სიახლეები </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
