﻿@model kargiDashboard.Models.UserModel

@{
    ViewBag.Title = "AddUser";
}


@using (Html.BeginForm("AddUser", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.fullname, "სრული სახელი")
            @Html.TextBoxFor(x => x.fullname, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.fullname)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.username, "Username")
            @Html.TextBoxFor(model => model.username, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.username)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, "პაროლი")
            @Html.TextBoxFor(x => x.password, new { type = "password", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.password)

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.roles, "როლი")
            @Html.ListBoxFor(model => model.roles, new List<SelectListItem>
               { new SelectListItem{Text="ადმინისტრატორი", Value="admin"},
                 new SelectListItem{Text="მოდერატორი", Value="moderator"}}, new { @class = "form-control" })
        </div>

        <div class="modal-footer">
            @ViewBag.ErrorMessage
            <button type="submit" class="btn btn-primary">დამატება</button>
        </div>
    </div>
}
