﻿

<div class="row">
    <div class="col-lg-6">
        <section class="card">
            <div class="card-body text-secondary">@Html.Partial("AddUser", new kargiDashboard.Models.UserModel())</div>
        </section>
    </div>
    <div class="col-lg-6 ">

                @{Html.RenderAction("ShowUsers", "Users"); }

    </div>
</div>