﻿@model List<kargiDashboard.Models.UserModel>

@{
    ViewBag.Title = "AddUser";
}




<div class="card">
    <div class="card-header">
        <strong class="card-title">ადმინის მომხმარებლები</strong>
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table ">
            <thead>
                <tr>
                    <th class="serial">#</th>
                    <th class="avatar">სურათი</th>
                    <th>ID</th>
                    <th>სახელი</th>
                    <th>Username</th>
                    <th>როლები</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="serial">@Model.FindIndex(a => a.username == item.username)</td>
                    <td class="avatar">
                        <div class="round-img">
                            <a href="#"><img class="rounded-circle" src="images/avatar/1.jpg" alt=""></a>
                        </div>
                    </td>
                    <td> @item.userId </td>
                    <td>  <span class="name">@item.fullname</span> </td>
                    <td>  <span class="name">@item.username</span> </td>
                    <td>
                        @foreach (var role in item.roles)
                        {<span class="badge badge-complete"> @role  </span>}
                    </td>
                    <td>  <span class="name">
    @Html.ActionLink(
    "Delete",
    "DeleteUser",
    new { id = item.userId },
    new { onclick = "return confirm('Are you sure you wish to delete this article?');" })
</span> </td>

                </tr>
                }

            </tbody>
        </table>
    </div> <!-- /.table-stats -->
</div>